@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Crimson+Text');

:root {
    --main-color: black;
    --secondary-color: white;
    font-family: 'Crimson Text', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

h1,
h2,
h3,
p,
div,
nav {
    margin: 0;
    padding: 0;
}

header .logo {
    font-family: 'Baloo Chettan', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 20px 10px;
}

header .logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .logo {
    text-decoration: underline;
}

header .banner {
    background-image: url(../img/header-background.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
}

header .logo {
    list-style-type: none;
}

header .logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .menu:hover {
    text-decoration: underline;
}

header .banner .button-container {
    margin-bottom: 50px;
}



