@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Crimson+Text');

:root {
    --main-color: black;
    --secondary-color: white;
    font-family: 'Crimson Text', sans-serif;
    display: flex;
    justify-content: center;
}

body {
    max-width: 980px;
    margin: auto;
}

h1,
h2,
h3,
p,
div,
nav {
    margin: 0;
    padding: 0;
}

header .logo {
    font-family: 'Baloo Chettan', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 20px 10px;
}


header .menu {
    padding: 0;
}

header .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .menu li {
    display: inline;
    list-style-type: none;
}

header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .menu li a:hover {
    text-decoration: underline;
}


header .banner {
    background-image: url(../img/header-background.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

header .banner h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: 'Germania One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .banner h4 {
    color: var(--secondary-color);
    font-size: 1.07rem;
    font-family: 'Germania One', sans-serif;
    justify-content: space-around;
}

header .banner .button-container {
    margin-bottom: 50px;
}

.product-card {
    border: 1px solid black;
}

.product-card h3,
.product-card p {
    padding: 0 5px;
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card .button-container {
    display: flex;
    justify-content: space-around;
}

.product-card .button-container .button {
    padding: 8px 32px;
}



.button {
    background-color: orange;
    border: none;
    color: orange;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: orange;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: brown;
    color: white;
}


/*     MAIN    */

main .dishes h3 {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 2rem;
}


main .burger {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

main .burger h3 {
    color: var(--secondary-color);
    font-size: 1.07rem;
    font-family: 'Germania One', sans-serif;
    justify-content: space-around;
}


main .steak {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

main .steak h3 {
    color: var(--secondary-color);
    font-size: 1.07rem;
    font-family: 'Germania One', sans-serif;
    justify-content: space-around;
}

main .quotes {
    background-image: url(../img/chef.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

main .chef {
    font-family: 'Baloo Chettan', sans-serif;
    text-align: left;
    margin: 20px 10px;
    color: white;
}


main .our {
    font-family: 'Baloo Chettan', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 20px 10px;
}



main .featuresc {
    padding-left: 75px;
    padding-top: 50px;
    font-family: 'Baloo Chettan', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: 20px 10px;
}

main .featuresc {
    display: flex;
    text-align: center;
}

main .featuresb {
    padding-left: 75px;
    padding-top: 50px;
    font-family: 'Baloo Chettan', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: 20px 10px;
}

main .featuresb {
    display: flex;
    text-align: center;

}

/* PREFOOTER */

main .call {
    background-image: url(../img/call.jpg);
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 100px;
    color: white;
}

main .ccall {
    font-family: 'Baloo Chettan', sans-serif;
    text-align: left;
    margin: 20px 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    color: white;
}

















/* FOOTER */

main .footer {
    background-image: url(../img/footer.jpg);
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    color: white;
}



main .ffooter {
    font-family: 'Baloo Chettan', sans-serif;
    text-align: center;
    margin: 20px 10px;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}


main .get-html-ajax {
    font-family: 'Baloo Chettan', sans-serif;
    text-align: center;
    margin: 20px 10px;
    color: black;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5rem;
}


















main .get-html-ajax {
    padding: 8px 32px;
}



main .get-html-ajax {
    background-color: orange;
    border: none;
    color: orange;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: orange;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    text-transform: uppercase;
}

main .get-html-ajax:hover {
    background-color: brown;
    color: white;
}



















}

footer .logo {
    font-family: 'Baloo Chettan', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 20px 10px;
}


footer .menu {
    padding: 0;
}

footer .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .menu li {
    display: inline;
    list-style-type: none;
}

footer .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

footer .menu li a:hover {
    text-decoration: underline;
}


footer .banner {
    min-height: 100px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}



